/* 이미지 슬라이더 박스 */
#sliderbox {
	width: 900px;
	height: 500px;
	border: 1px solid #ccc;
	
	/* 외부 여백 */
	margin: 0 auto;
	
	/* div영역을 벗어난 부분을 안보이게 처리 */
/* 	overflow: visible; */
 	overflow: hidden;
}

#slider {
	/* ul태그의 기본 스타일 제거 */
	padding: 0;
	margin: 0;
	list-style-type: none;
	
	/* 자식요소 absolute박스의 기준점으로 설정하기 */
	position: relative;
}

#slider li {
	position: absolute;
}

#slider li img {
	width: 900px;
	height: 500px;
}
map {
	margin: 0 auto;
	
}