<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="web.admin.dao.face.NoticeDao">
 
 	<sql id="selectNotice">
		SELECT
			board_no, board_title, board_content
			, board_date
		FROM NOTICE
	</sql>

	<sql id="whereTitleSearch">
		WHERE board_title LIKE '%' || #{search} || '%'
	</sql>
 
 
 	<select id="selectAll" resultType="web.user.dto.Notice" parameterType="web.util.Paging">
 		SELECT * FROM (
 			SELECT rownum rnum, B.* FROM (
 				<include refid="selectNotice" />
 				<include refid="whereTitleSearch" />	
 				ORDER BY board_no DESC
 			) B
 		) R
 		WHERE rnum BETWEEN #{startNo } AND #{endNo }
 	</select>
 
 	<select id="selectCntAll" resultType="int" parameterType="web.util.Paging">
 		SELECT COUNT(*) FROM (
 			<include refid="selectNotice" />
 			<include refid="whereTitleSearch" />			
 		)
 	</select>
 
 	<select id="selectNoticeByBoardno" resultType="web.user.dto.Notice" parameterType="web.user.dto.Notice">
 		SELECT * FROM notice
 		WHERE board_no = #{board_no }
 	</select>
 
 	<insert id="insertNotice" parameterType="web.user.dto.Notice">
 		<selectKey order="BEFORE" resultType="int" keyProperty="board_no">
 			SELECT notice_seq.nextval FROM dual
 		</selectKey>
 	
 		INSERT INTO notice (board_no, board_title, board_content)
 		VALUES (#{board_no}, #{board_title}, #{board_content})
 	</insert>
 
 	<update id="update" parameterType="web.user.dto.Notice">
 		UPDATE notice
 		SET board_title = #{board_title }
 			, board_content = #{board_content }
 		WHERE board_no = #{board_no }
 	</update>
 
 	<delete id="delete" parameterType="web.user.dto.Notice">
 		DELETE notice
 		WHERE board_no = #{board_no }
 	</delete>
 
 
 	<select id="selectNoticefileByNoticeno" resultType="web.user.dto.FileTb" parameterType="web.user.dto.Notice">
 		
 		SELECT
 			A.file_no, A.origin_name, A.thumbnail_url
 		FROM filetb A
 		JOIN notice_file B ON A.file_no = B.file_no
 		WHERE board_no = #{board_no}
 	</select>
 	
 	<insert id="insertFileIntoNotice_file" parameterType="web.user.dto.Notice_file">
 		INSERT INTO notice_file ( file_no, board_no )
 		VALUES ( notice_file_seq.nextval, #{board_no } )
 	</insert>
 	
 	<insert id="insertFileIntoFileTb" parameterType="web.user.dto.FileTb">
 		INSERT INTO FileTb ( file_no, thumbnail_url, origin_name)
 		VALUES ( filetb_seq.nextval, #{thumbnail_url }, #{origin_name })
 	</insert>
 	
 	<select id="selectNoticefileByFileno" resultType="web.user.dto.FileTb" parameterType="int">
 		SELECT
 			A.file_no, B.origin_name, B.thumbnail_url
 		FROM notice_file A
 		JOIN filetb B ON A.file_no = B.file_no
			AND A.file_no = #{file_no}
 	</select>
 	
 	<delete id="deleteFile" parameterType="web.user.dto.Notice">
 		DELETE notice_file
 		WHERE board_no = #{board_no }
 	</delete>
 	
 	<delete id="deleteFileTb" parameterType="web.user.dto.Notice">
		DELETE filetb A
		WHERE EXISTS
			(SELECT 1
			FROM notice_file B
			WHERE A.file_no = B.file_no
			AND B.board_no = #{board_no }
			) 
 	</delete>
 	
 </mapper>
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 