<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="web.user.dao.face.MessageDao">

	<sql id="selectMessage">
		SELECT msg_no, send_user, rec_user, msg_title, msg_content, send_date, msg_read
		FROM message
	</sql>

	<select id="selectAllToMeList" parameterType="web.util.Paging" resultType="web.user.dto.Message">
		SELECT * FROM ( SELECT rownum rnum, M.* FROM ( 
		<include refid="selectMessage"/>
		WHERE rec_user = #{rec_user}
		ORDER BY msg_no DESC) M) R
		WHERE rnum BETWEEN #{startNo} AND #{endNo} 
	</select>


	<select id="selectCntAll" parameterType="web.util.Paging" resultType="int">
		SELECT COUNT(*) FROM ( 
		<include refid="selectMessage"/>
		)
	</select>

	<select id="selectMessgaeByMsg_no" parameterType="web.user.dto.Message" resultType="web.user.dto.Message">
		SELECT msg_no, send_user, rec_user, msg_title, msg_content, send_date, msg_read
		FROM message
		WHERE msg_no = #{msg_no} 
	</select>

	<!-- <insert id="insertMessage" parameterType="web.user.dto.Message"> -->
	<!-- <selectKey resultType="int" keyProperty="msg_no" order="BEFORE"> -->
	<!-- SELECT message_seq.nextval FROM dual -->
	<!-- </selectKey> -->
	<!-- INSERT INTO message ( msg_no, send_user, rec_user, msg_title, msg_content ) -->
	<!-- VALUES ( #{msg_no}, #{send_user}, #{rec_user}, #{msg_title}, #{msg_content} ) -->
	<!-- </insert> -->

	<delete id="delete" parameterType="web.user.dto.Message">
		DELETE message 
		WHERE msg_no = #{msg_no}
	</delete>

</mapper>